
*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing:border-box;
}
h6{color:white}
p{
    color:white;
    font-size: 15;
}
.nav-link{
    color:white
}
a:hover{
    color:gray;
    transition: .5s;
}
.checkbtn{
    color:white;
    cursor:pointer;
}
h5{
    color:black
}
.block{
    text-align: center;
    text-size-adjust: 5px;
    color:black;
    font-size: small;
}
.botonuno{
    background-color: rgb(89, 192, 206);
    border-color: rgb(89,192,206);
    height: 25px;
    font-size: small;
}
.botondos{
    background: yellow;
    color:black;
    font-size: small;
    border-color: yellow;
    height: 25px;
}
.botontres{
background-color: grey;
color: white;
font-size: small;
border-color: grey;
height: 25px;
}
.botoncuatro{
    font-size: small;
    height: 25;
}
.botoncinco{
    font-size: small;
    height: 25px;
    background-color: rgba(202, 13, 54, 0.904);
    border-color: rgba(202, 13, 54, 0.904);
}
.compra{
    color:rgb(51, 233, 51);
}
.compra2{
    background-color: green;
    border-radius: 10px;
    color: white;
}
.contenedor-tarjetas{
    margin: auto auto;
    width: 70%;
    padding: 0%;
}
.descuentos-tarjeta{
    margin: auto auto;
    width: 50%;
 }
.caja1{
    border-color: blue;
    border-radius: 10px;
}
.t1fila1{
    text-align: center;
    height: 30px;
    background-color: blue;
    color:white;
}
.t1fila2{
    text-align: center;
    background-color: white;
    font-size: small;
    
}
.caja2{
    border-color: rgb(0, 247, 255);
    border-radius: 20px;
    text-align: center;
}
.t2fila1{
    height: 30px;
    background-color: rgb(0,247,255);
    text-align: center;
    color:white;
}
.t2fila2{
    background-color: white;
    text-align: center;
    font-size: small;
}
.caja3{
    border-color: orange;
    border-radius: 20px;
}
.t3fila1{
    height: 30px;
    background-color: orange;
    text-align: center;
    color:white
}
.t3fila2{
    background-color: white;
    text-align: center;
    font-size: small;
}
.caja-formulario{
    width: 50%;
    text-align: center;
    margin: auto auto;
    padding: 10px;

}
.card{
    width: 100%;
    margin: 20px;
    overflow: hidden;
   }
.card-text{
 text-size-adjust: 4px;
 font-size: 12px;
 color:black
}
.cajatexto{
    background-color: rgb(80, 76, 76);
    color:white;
    text-align: justify;
    font-size: small;
    margin: 0;
    padding:10px;
    height: 410px;
    width: auto;
}
.active{
    color:white;
}
.cajaform{
    width: 50%;
    margin: auto;
    padding: 20px;
}
p1{
    color:blue;
    font-size: large;
    text-align: justify;
    background-color:rgba(60, 233, 233, 0.363);
    width: 400px;
    height: 40px;
}

